{% extends 'admin/base.admin.html.twig' %}

{% block body %}

    <div class="w-full h-full flex items-center justify-center">

        <table>
            <tr>
                <th>id</th>
                <th>nom</th>
                <th>contenu</th>
                <th></th>
                <th>actions</th>
            </tr>
            {% for techno in technos %}
                <tr>
                    <td>{{ techno.id }}</td>
                    <td>{{ techno.title }}</td>
                    <td>{{ techno.content | slice(0, 30) }} ...</td>
                    <td>
                        <img class="object-contains" width="64px" height="64px" src="
                        {% if 'https://' in techno.image and techno.image %}
                            {{ techno.image }}
                            {% else %}
                            {{ asset('uploads/images/'~techno.image) }}
                        {% endif %}
                    " alt="">
                    </td>
                    <td>
                        <a href="" class="text-green-500 cursor-pointer">editer</a>
                        <a href="" class="text-red-500 cursor-pointer">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>

{% endblock %}
